body {
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bolder;
    margin-right: auto;
    margin-left: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin-right: 1em;
}