body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Dark background around content, dont touch */
div.content {
    background-color: #1f2937;
    padding: 8px;
    border: 0;
}

/* NAV START */
div.top {
    margin: auto;
    padding: 10px;
    max-width: 850px;
}

.top header {
    display: flex;
}

div.header-left {
    margin-right: auto;
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 1em;
}

nav a {
    color: #E5E7EB;
    text-decoration-line: none;
}

/* NAV END */

/* HERO START */

div.hero {
    margin: 4em 0em;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    color: #F9FAF8;
    flex-wrap: wrap; /* Allows items to wrap */
}



div.hero-left {
    flex: 1;
    flex-basis: 400px;
}

div.hero p {
    color: #E5E7EB;
}

div.hero button {
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: large;
    padding: 3px 1em;
}

div.hero-right {
    flex: 1;
    flex-basis: 400px;
}
div.hero-right img{
    width: 100%; /* Makes the image responsive */
    max-width: 100%; /* Prevents overflow */
}



/* HERO END */

/* RANDOM INFORMATION START */

/* Light background around content, dont touch */
div.random-info-wrapper {
    background-color: #F9FAF8;
    border: 0;
}

div.random-info {
    margin: auto;
    padding: 10px 10px 50px 10px;
    max-width: 850px;

}

div.random-info h1 {
    text-align: center;
}

div.boxes {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap */
    justify-content: center;
    gap: 2em;
    text-align: center;

}

div.blue {
    height: 120px;
    width: 120px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.box p {
    max-width: 120px;
    font-size: small;
}

/* RANDOM INFORMATION END */

/* QUOTE SECTION START */

div.quote-wrapper {
    background-color: #E5E7EB;
    border: 0;
    padding: 5em 0em;
    display: flex;
}

.quote p {
    margin: 0px;
}

.quote {
    flex: 1;
    flex-basis: 100px;
}

.quote-filler {
    flex: 1;
}

.quote-text {
    font-style: italic;
    font-weight: lighter;
    font-size: larger;
}

p.quote-author {
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}

/* QUOTE SECTION END */

/* CALL TO ACTION SECTION START */

.calltoaction-wrapper {
    background-color: #F9FAF8;
    border: 0;
}

.calltoaction-wrapper-content {
    margin: auto;
    padding: 10px;
    max-width: 850px;
}

.blue-container {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 2em 5em;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0em;
}

.left p {
    margin: 0;
}

.right {
    min-width: fit-content;
}

.right button {
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: #F9FAF8;
    font-weight: bold;
}
/* CALL TO ACTION SECTION END */

/* FOOTER SECTION START */

div.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
}

.footer a {
    color: #3882F6;
}

/* FOOTER SECTION END */

/* HEADER AND FOOTER STICKY */
.content, .footer {
    flex-grow: 0;
}

.random-info-wrapper, .quote-wrapper, .calltoaction-wrapper {
    flex-grow: 1;
}